* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Hahmlet", serif;
}

#fileForm{
    margin:auto;
    margin-bottom:50px;

    width: 300px;
    height: 120px;
    text-align: center;
}

#fileForm input{
    display:block;

    margin:auto;
    margin-top:20px;
    width: 200px;
    height: 50px;
    text-align: center;


}
input[type="file"]::file-selector-button{
    background-color:tomato;
    color:white;
    border: 1px solid tomato;
    border-radius: 5px;
}

#fileForm button{
    display:block;

    margin:auto;
    width: 80px;
    height: 50px;
    text-align: center;

    background-color:tomato;
    color:white;
    border: 1px solid tomato;
    border-radius: 5px;
}


#responseDiv{
    margin:auto;
    margin-bottom:50px;

    width: 1000px;
    height: 500px;
    text-align: center;
}
#responseDiv h1{
    margin:auto;
    width:500px;
    height:50px;
    text-align:center;
}
#responseDiv h3{
    margin:auto;
    width:500px;
    height:50px;
    text-align:center;
}
#responseDiv h5{
    margin:auto;
    width:700px;
    height:50px;
    text-align:center;
}
#responseDiv button{
    display:block;

    margin:auto;
    margin-bottom:100px;
    width: 80px;
    height: 50px;
    text-align: center;

    background-color:tomato;
    color:white;
    border: 1px solid tomato;
    border-radius: 5px;
}


table{
    margin:auto;
    border-collapse:collapse;
}
table tr:nth-child(1){
    background-color:tomato;
}
table th,td{
    width: 100px;
    height: 50px;
    text-align: center;
    border: 1px solid #000;

    vertical-align: middle;   /* 가운데 */
}

td:nth-child(6){
    width:300px;
}