* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Hahmlet", serif;
}

#userResults{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;

    width: 800px;
    height: auto;

    text-align: center;

    border: 3px solid tomato;
    border-radius:10px;
    overflow:hidden; /*tr,td 삐져나온 테두리 숨김*/
}


table{
    margin:auto;

    border-collapse:collapse;
    border-style:hidden;  /* 두께 맞추기 위해 border-style 숨김 */
}
table tr:nth-child(1){
    background-color:tomato;
}

table th,td{
    width: 100px;
    height: 50px;

    border: 3px solid tomato;

    text-align: center;
    vertical-align: middle;
}

td:nth-child(6){
    width:300px;
}


#pagingArea{
    /*inline-block은 block처럼 박스이지만 inline처럼 내용 크기에 맞는 width*/
    /*display:inline-block;*/

    margin: auto;

    /*width: 500px;*/
    width: fit-content;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#pagingArea button{
    display:block;

    margin:auto;
    margin-top:20px;
    margin-left:20px;

    width: 30px;
    height: 30px;

    text-align: center;
    /*vertical-align: middle;*/
    line-height:30px;

    color:white;
    background-color:tomato;
    border: 1px solid tomato;
    border-radius: 5px;
}
#previous{
    background-color: darkred !important;
    border: 1px solid darkred !important;
}
#next{
    background-color: darkred !important;
    border: 1px solid darkred !important;
}
.buttonClicked{
    background-color : darksalmon !important;
    border : 1px solid darksalmon !important;
}