* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Hahmlet", serif;

}

#background{
    position: relative;
    top:0;
    left: 0;
    width:100%;
    height:100vh;
    z-index:-1;

    background-color: lightgray;
    opacity:0.3;
}

#loginForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin:auto;

    width: 500px;
    height: auto;

    text-align: center;
    border: 3px solid lightsalmon;
    /*border-bottom: none;*/
    border-radius: 10px;
    background-color:white ;

    z-index:1;
}


#loginForm div div{
    display:flex;
    justify-content: center;
    align-items: center;

    width:500px;
    height:100px;
}

#loginForm > div {
    /*border-bottom: 3px solid lightsalmon;*/
}
#loginForm > div:nth-child(3){
    border-bottom: none;
}
#idFail, #pwdFail, #checkDiv{
    margin-bottom:20px;

    height:auto !important;
    color:red !important;

    font-style: italic;
}
#checkDiv{
    margin:auto;

    width:500px;
    height:auto;
    text-align:center;
}
#checkDiv h3{
    margin: auto;
    width:500px;
    height:auto;

    text-align:center;
    color:red;
}

#loginForm div div div{
    width:100px;
}

.failShow{
    display: block !important;
}
.failHidden{
    display: none !important;
}



#loginForm input{
    display:block;

    margin:auto;
    margin-top:20px;
    width: 200px;
    height: 50px;
    text-align: center;

    border-radius:10px;
    border:1px solid lightgray;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);

    background-color: rgba(234, 234, 234, 0.3);

    outline:none;
}
#loginForm input:focus{
    border: 3px solid lightsalmon;
}

#loginForm button{
    display:block;

    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    width: 80px;
    height: 50px;
    text-align: center;

    color:white;
    background-color:tomato;
    border: 1px solid tomato;
    border-radius: 5px;
}


