* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#checkDiv{
    margin:auto;

    width:500px;
    height:auto;
    text-align:center;
}
#checkDiv h3{
    margin: auto;
    width:500px;
    height:auto;

    text-align:center;
    color:red;
}

#loginForm{
    margin:auto;
    margin-top:100px;

    width: 500px;
    height: auto;

    text-align: center;
    border: 1px solid tomato;
    border-bottom: none;
}


#loginForm div div{
    display:flex;
    justify-content: center;
    align-items: center;

    width:500px;
    height:100px;
}

#loginForm > div {
    border-bottom: 1px solid tomato;
}
#idFail, #pwdFail, #checkDiv{
    margin-bottom:20px;

    height:auto !important;
    color:red !important;
}
.failShow{
    display: block !important;
}
.failHidden{
    display: none !important;
}
#loginForm div div div{
    width:100px;
}

#loginForm input{
    display:block;

    margin:auto;
    margin-top:20px;
    width: 200px;
    height: 50px;
    text-align: center;
}

#loginForm button{
    display:block;

    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    width: 80px;
    height: 50px;
    text-align: center;

    color:white;
    background-color:tomato;
    border: 1px solid tomato;
    border-radius: 5px;
}


