<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>남기정_로그인</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="loginForm" action="/user/login" method="post">
        <div>
            <div>ID</div>
            <input id="idInput" type="text" placeholder="아이디 입력"/>
        </div>

        <div>
            <div>PWD</div>
            <input id="pwdInput" type="password" placeholder="비밀번호 입력"/>
        </div>

        <button type="submit">로그인</button>
    </form>
</body>
</html>