<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>남기정_로그인</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div th:if="${loginAgain}" id="checkDiv">
        <h1>로그인을 다시 시도해주세요.</h1>
    </div>

    <form id="loginForm" action="/login/loginCheck" method="post">
        <div>
            <div>ID</div>
            <input name="id" id="id" type="text" placeholder="아이디 입력"/>
        </div>

        <div>
            <div>PWD</div>
            <input name="pwd" id="pwd" type="password" placeholder="비밀번호 입력"/>
        </div>

        <button type="submit">로그인</button>
    </form>
</body>
</html>