<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>남기정_로그인완료_회원정보페이징</title>
    <link href="/css/loginOk.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--<h1> 로그인 성공 </h1>-->
<div id="userResults">
    <table id="userResultsTable">
        <tr>
            <th> ID </th>
            <th> PWD </th>
            <th> NAME </th>
            <th> LEVEL </th>
            <th> DESC </th>
            <th> REG_DATE </th>
        </tr>

        <th:block th:if="${#lists.isEmpty(userPagingResultDTO.userDTOList)}">
            <tr>
                <td colspan="6">회원 정보가 없습니다.</td>
            </tr>
        </th:block>

        <th:block th:each="userDTO : ${userPagingResultDTO.userDTOList}" th:if="${!#lists.isEmpty(userPagingResultDTO.userDTOList)}">
            <tr>
                <td th:text="${userDTO.id}"></td>
                <td th:text="${userDTO.pwd}"></td>
                <td th:text="${userDTO.name}"></td>
                <td th:text="${userDTO.level}"></td>
                <td class="desc" th:data-name="${userDTO.desc}"></td>
                <td class="regDate" th:data-name="${userDTO.regDate}"></td>
            </tr>
        </th:block>

    </table>
</div>

<div id="pagingArea">
    <th:block th:if="${userPagingResultDTO.buttonBlockDTO.previousBlock}">
        <button id="previous" class="pagingButton" th:data-name="${userPagingResultDTO.buttonBlockDTO.previousBlockPageNumber}"><</button>
    </th:block>
    <th:block th:each="i : ${#numbers.sequence(userPagingResultDTO.buttonBlockDTO.currentBlockFirstNumber, userPagingResultDTO.buttonBlockDTO.currentBlockLastNumber)}">
        <button class="pagingButton" th:data-name="${i}" th:text="${i}"></button>
    </th:block>
    <th:block th:if="${userPagingResultDTO.buttonBlockDTO.nextBlock}">
        <button id="next" class="pagingButton" th:data-name="${userPagingResultDTO.buttonBlockDTO.nextBlockPageNumber}">></button>
    </th:block>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/js/utility.js"></script>
<script th:inline="javascript">
    // DOM이 완전히 로드되고 파싱 완료된 시점에 실행
    document.addEventListener('DOMContentLoaded', function() {
        console.log('DOM 준비 완료!');

        let regDates = document.getElementsByClassName("regDate");
        for (regDate of regDates) {
            let originalRegDate = regDate.dataset.name;
            console.log("originalRegDate : "+originalRegDate);
            console.log("type originalRegDate : "+ typeof(originalRegDate));

            let completeRegDate = makeLocalDateTimeToString(originalRegDate);
            regDate.textContent = completeRegDate;
        }

        let descs = document.getElementsByClassName("desc");
        for (desc of descs) {
            let descText = desc.dataset.name;
            console.log("descText : "+descText);
            console.log("type descText : "+typeof(descText));

            if (descText === undefined) {
                desc.textContent = "";
            } else {
                desc.textContent = descText;
            }
        }

        //페이징 버튼 이벤트 걸기
        // let buttons = document.getElementsByName("pagingButton");
        // for(button of buttons){
        //     button.addEventListener('click', function(e){
        //         handleButtonsNumber(e);
        //     });
        // }

        //이벤트 위임
        let pagingArea = document.getElementById("pagingArea");
        pagingArea.addEventListener('click', function(e) {
            handleButtonsNumber(e);
        });

        //첫 페이지 진입시 기본이 1번 페이지이므로 1번 버튼을 흐리게
        makeCurrentButtonBlur([[${pageNumber}]]);
        //makeCurrentButtonBlur(1);

    });

    //페이징 버튼 번호들 처리
    function handleButtonsNumber(e) {
        //현재 있는 몇번째 페이지 정보 가져오기
        //직접클릭 e.target
        let clickedNumber = e.target.dataset.name;

        console.log("clickedNumber: "+clickedNumber);
        console.log("클릭된 대상 클래스 이름 : "+e.target.classList);

        //이벤트 위임시 진짜 자식 요소 내부일때만
        if (e.target.matches(".pagingButton")) {
            pagingAjax(clickedNumber);
        }

    }

    //페이징 통신 ajax
    function pagingAjax(clickedNumber) {
        //페이지 이동없이 누른 버튼 값에 따라 회원정보 페이지 내용 변경
        $.ajax({
            url: '/user/userList/ajax?pageNumber=' + clickedNumber,
            method: 'GET',
            success: function (response) {
                console.log("response.content.buttonBlockDTO : " + response.content.buttonBlockDTO);
                console.log("response.content.userDTOList : " + response.content.userDTOList);

                makePagingTable(response.content.userDTOList);
                makePagingButton(response.content.buttonBlockDTO);
                makeCurrentButtonBlur(clickedNumber);
            },
            error: function (xhr, status, error) {
                console.error('실패:', error);
            }
        });
    }

    //페이징 테이블 내용 동적 html 생성
    function makePagingTable(response) {
        let userResultsTable = document.getElementById("userResultsTable");
        let responseText = '';

        responseText += `<tr>`;
        responseText += `<th> ID </th>`;
        responseText += `<th> PWD </th>`;
        responseText += `<th> NAME </th>`;
        responseText += `<th> LEVEL </th>`;
        responseText += `<th> DESC </th>`;
        responseText += `<th> REG_DATE </th>`;
        responseText += `</tr>`;

        response.forEach(userDTO => {
            console.log("배열 하나: " + userDTO + '\n');
            console.log('내용 : ' + userDTO.id + '\n');
            console.log('내용: ' + userDTO.pwd + '\n');
            console.log('내용: ' + userDTO.name + '\n');
            console.log('내용: ' + userDTO.level + '\n');
            console.log('내용: ' + userDTO.desc + '\n');

            //@JsonProperty("reg_date") 때문에 snake 명으로 바뀐다.
            console.log('내용: ' + userDTO.reg_date + '\n');
            const date = parseDate(userDTO.reg_date);
            let regDateText = makeRegDate(date);

            responseText += `<tr>`;
            responseText += `<td>${userDTO.id}</td>`;
            responseText += `<td>${userDTO.pwd}</td>`;
            responseText += `<td>${userDTO.name}</td>`;
            responseText += `<td>${userDTO.level}</td>`;
            responseText += `<td>${userDTO.desc}</td>`;
            responseText += `<td>${regDateText}</td>`;
            responseText += `</tr>`;

        });

        userResultsTable.innerHTML = responseText;
    }

    //페이징 버튼 내용 동적 html 생성
    function makePagingButton(response) {
        let pagingArea = document.getElementById("pagingArea");
        let responseText = '';

        if (response.previousBlock) {
            responseText += `<button id="previous" class="pagingButton" data-name="${response.previousBlockPageNumber}"><</button>`;
        }
        for (let i = response.currentBlockFirstNumber; i <= response.currentBlockLastNumber; i++) {
            responseText += `<button class="pagingButton" data-name="${i}">${i}</button>`;
        }
        if (response.nextBlock) {
            responseText += `<button id="next" class="pagingButton" data-name="${response.nextBlockPageNumber}">></button>`;
        }

        pagingArea.innerHTML = responseText;

    }

    //현재 페이지인 버튼은 흐리게 조정
    function makeCurrentButtonBlur(clickedNumber) {
        let clickedButton = document.querySelector(`[data-name="${clickedNumber}"]`);

        /*
        clickedButton.style.backgroundColor = "darksalmon";
        clickedButton.style.border = "1px solid darksalmon";
        */

        let buttons = document.querySelectorAll("button");
        buttons.forEach(button => {
           button.classList.remove('buttonClicked');
        });
        clickedButton.classList.add('buttonClicked');

    }

</script>
</html>