<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>남기정_로그인</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--<div th:if="${loginAgain}" id="checkDiv">
        <h1>로그인을 다시 시도해주세요.</h1>
    </div>-->

    <!--<form id="loginForm" action="/login/loginCheck" method="post">-->
    <form id="loginForm">
        <div>
            <div>
                <div>ID</div>
                <input name="id" id="id" type="text" placeholder="아이디 입력"/>
            </div>

            <div id="idFail" class="failHidden">
            </div>
        </div>


        <div>
            <div>
                <div>PWD</div>
                <input name="pwd" id="pwd" type="password" placeholder="비밀번호 입력"/>
            </div>

            <div id="pwdFail" class="failHidden">
            </div>
        </div>


        <div>
            <button type="submit">로그인</button>

            <div id="checkDiv" class="failHidden">
            </div>
        </div>

    </form>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/js/utility.js"></script>
<script th:inline="javascript">
    // DOM이 완전히 로드되고 파싱 완료된 시점에 실행
    document.addEventListener('DOMContentLoaded', function() {
        console.log('DOM 준비 완료!');
        document.getElementById("loginForm").addEventListener('submit',ajaxSubmit);
    });


    /**
     *  로그인 로직을 Ajax로 처리한다.
     * @param event
     */
    function ajaxSubmit(event) {
        event.preventDefault();

        const id = document.getElementById("id").value;
        const pwd = document.getElementById("pwd").value;

        fetch("/login/loginCheck", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({"id": id, "pwd": pwd})
        }) .then(async response => {
            /*
                그냥 ok로 하고 body 객체 안에서 flag 검사해서 아이디,비번 오류 메시지 출력
                응답(response) 본문을 JSON으로 파싱해서 Promise로 반환
             */
            if (response.ok) {
                const loginAnswer  = await response.json();
                makeHtml(loginAnswer);
            } else {
                const errorMessage = await response.json();
                console.log("errorMessage : "+errorMessage);

            }
        }).catch(err => {
            console.log("err : "+err);
        })

    }

    function makeHtml(loginAnswer){
        let checkDiv = document.getElementById("checkDiv");
        let idFail = document.getElementById("idFail");
        let pwdFail = document.getElementById("pwdFail");
        let responseText = '';
        let idFailText = '';
        let pwdFailText = '';

        //기존 결과를 지운다.
        idFail.classList.add("failHidden");
        idFail.classList.remove("failShow");
        idFail.innerHTML = "";
        pwdFail.classList.add("failHidden");
        pwdFail.classList.remove("failShow");
        pwdFail.innerHTML = "";
        checkDiv.classList.add("failHidden");
        checkDiv.classList.remove("failShow");
        checkDiv.innerHTML = "";

        /*
            boolean 타입 필드에 대해 getter는 isXxx() 형식이 권장되며,
            getXxx()가 아니라 isXxx()가 자동으로 인식
            따라서 Jackson 등 직렬화 라이브러리는 getter 이름에서 is 접두사를 빼고 필드명을 normal로 추론
        */
        if (loginAnswer.normal == false) {  //body에 error code가 존재할때- valid에 걸렸을때
            if (loginAnswer.content.exceptionCode == "FAIL_LOGIN_VALID") {
                checkDiv.classList.remove("failHidden");
                checkDiv.classList.add("failShow");
                responseText += `<h3>로그인을 다시 시도해주세요.</h3>`;
                for (userResultDTO of loginAnswer.content.exceptionMessage) {
                    if (userResultDTO.failText == "id") {
                        idFailText += `<h5>${userResultDTO.exceptionMessage}</h5>`;
                        idFail.classList.remove("failHidden");
                        idFail.classList.add("failShow");
                    } else if (userResultDTO.failText == "pwd") {
                        pwdFailText += `<h5>${userResultDTO.exceptionMessage}</h5>`;
                        pwdFail.classList.remove("failHidden");
                        pwdFail.classList.add("failShow");
                    } else {
                        responseText += `<h3>${userResultDTO.exceptionMessage}</h3>`;
                    }

                }

            }

        } else { //body에 error code가 존재하지 않을때- valid는 통과하였으나 일치하지 않을때
            console.log("loginAnswer : "+loginAnswer.content);
            if (loginAnswer.content.successFlag == 1) {  //아이디랑 비번이 맞다.
                window.location.href = "/user/userList/page?pageNumber=1";
            } else { // 아이디나 비번에서 문제가 있다.
                checkDiv.classList.remove("failHidden");
                checkDiv.classList.add("failShow");
                responseText += `<h3>로그인을 다시 시도해주세요.</h3>`;
                if (loginAnswer.content.failText == "id") {  //아이디가 일치하지 않을때
                    idFailText += `<h5>${loginAnswer.content.exceptionMessage}</h5>`;
                    idFail.classList.remove("failHidden");
                    idFail.classList.add("failShow");
                } else if (loginAnswer.content.failText == "pwd"){ //비밀번호가 일치하지 않을때
                    pwdFailText += `<h5>${loginAnswer.content.exceptionMessage}</h5>`;
                    pwdFail.classList.remove("failHidden");
                    pwdFail.classList.add("failShow");
                } else { //아이디, 비번 둘 다 틀렸을때
                    responseText += `<h3>${loginAnswer.content.exceptionMessage}</h3>`;
                }

            }
        }
        idFail.innerHTML = idFailText;
        pwdFail.innerHTML = pwdFailText;
        checkDiv.innerHTML = responseText;
    }
</script>
</html>