<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>남기정_로그인완료_회원정보페이징</title>
    <link href="/css/loginOk.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--<h1> 로그인 성공 </h1>-->
<div id="userResults">
    <table>
        <tr>
            <th> ID </th>
            <th> PWD </th>
            <th> NAME </th>
            <th> LEVEL </th>
            <th> DESC </th>
            <th> REG_DATE </th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<div id="pagingArea">
    <button id="previous"><</button>
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    <button>5</button>
    <button>6</button>
    <button>7</button>
    <button>8</button>
    <button>9</button>
    <button>10</button>
    <button id="next">></button>
</div>
</body>
</html>