<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>남기정_로그인완료_회원정보페이징</title>
    <link href="/css/loginOk.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--<h1> 로그인 성공 </h1>-->
<div id="userResults">
    <table>
        <tr>
            <th> ID </th>
            <th> PWD </th>
            <th> NAME </th>
            <th> LEVEL </th>
            <th> DESC </th>
            <th> REG_DATE </th>
        </tr>
        <tr th:each="userDTO : ${userDTOList}">
            <td th:text="${userDTO.id}"></td>
            <td th:text="${userDTO.pwd}"></td>
            <td th:text="${userDTO.name}"></td>
            <td th:text="${userDTO.level}"></td>
            <td th:text="${userDTO.desc}"></td>
            <td name="regDate" th:data-name="${userDTO.regDate}"></td>
        </tr>
    </table>
</div>

<div id="pagingArea">
    <button id="previous"><</button>
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    <button>5</button>
    <button>6</button>
    <button>7</button>
    <button>8</button>
    <button>9</button>
    <button>10</button>
    <button id="next">></button>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/js/utility.js"></script>
<script>
    // DOM이 완전히 로드되고 파싱 완료된 시점에 실행
    document.addEventListener('DOMContentLoaded', function() {
        console.log('DOM 준비 완료!');
        let regDates = document.getElementsByName("regDate");
        for (regDate of regDates){
            let originalRegDate = regDate.dataset.name;
            console.log("originalRegDate : "+originalRegDate);
            console.log("type originalRegDate : "+ typeof(originalRegDate));
            let completeRegDate = makeLocalDateTimeToString(originalRegDate);
            regDate.textContent = completeRegDate;
        }
    });
</script>
</html>