<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>남기정_로그인완료_회원정보페이징</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap" rel="stylesheet">
    <link href="/css/userlist.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--<h1> 로그인 성공 </h1>-->
<div id="background"></div>

<div id="content">
    <div id="searchArea">
        <div class="searchCondition">
            <div class="conditionName"> ID </div>
            <div class="conditionValue">
                <input type="text" id="id" name="id" placeholder="id"/>
            </div>
        </div>

        <div class="searchCondition">
            <div class="conditionName"> NAME </div>
            <div class="conditionValue">
                <input type="text" id="name" name="name" placeholder="name"/>
            </div>
        </div>

        <div class="searchCondition">
            <div class="conditionName"> LEVEL </div>
            <div class="conditionValue">
                <input list="levelList" id="level" name="level" placeholder="레벨 선택"/>
                <datalist id="levelList">
                    <option value="A"></option>
                    <option value="B"></option>
                    <option value="C"></option>
                    <option value="D"></option>
                    <option value="E"></option>
                    <option value="F"></option>
                    <option value="G"></option>
                    <option value="H"></option>
                    <option value="I"></option>
                    <option value="J"></option>
                    <option value="K"></option>
                    <option value="L"></option>
                    <option value="M"></option>
                    <option value="N"></option>
                    <option value="O"></option>
                    <option value="P"></option>
                    <option value="Q"></option>
                    <option value="R"></option>
                    <option value="S"></option>
                    <option value="T"></option>
                    <option value="U"></option>
                    <option value="V"></option>
                    <option value="W"></option>
                    <option value="X"></option>
                    <option value="Y"></option>
                    <option value="Z"></option>
                </datalist>
            </div>
        </div>

        <div class="searchCondition">
            <div class="conditionName"> DESC </div>
            <div class="conditionValue"> <input type="text" id="desc" name="desc" placeholder="desc"/> </div>
        </div>

        <div class="searchCondition">
            <div class="conditionName"> RegDate </div>
            <div class="conditionValue">
                <div id="calendarDiv">
                    <div id="calendarIcon"></div>
                </div>
                <div id="regDate" >
                    <div>날짜 선택</div>
                </div>
            </div>
        </div>

        <div class="searchCondition">
            <div class="conditionName">
                <button id="searchButton">검색</button>
            </div>
        </div>

    </div>

    <div id="pagingResults">
        <div id="userResults">
            <table id="userResultsTable">
                <tr>
                    <th> ID </th>
                    <th> PWD </th>
                    <th> NAME </th>
                    <th> LEVEL </th>
                    <th> DESC </th>
                    <th> REG_DATE </th>
                </tr>

                <th:block th:if="${#lists.isEmpty(userPagingResultDTO.userDTOList)}">
                    <tr>
                        <td colspan="6">회원 정보가 없습니다.</td>
                    </tr>
                </th:block>

                <th:block th:each="userDTO : ${userPagingResultDTO.userDTOList}" th:if="${!#lists.isEmpty(userPagingResultDTO.userDTOList)}">
                    <tr>
                        <td th:text="${userDTO.id}"></td>
                        <td th:text="${userDTO.pwd}"></td>
                        <td th:text="${userDTO.name}"></td>
                        <td th:text="${userDTO.level}"></td>
                        <td class="desc" th:data-name="${userDTO.desc}"></td>
                        <td class="regDate" th:data-name="${userDTO.regDate}"></td>
                    </tr>
                </th:block>

            </table>
        </div>

        <div id="pagingArea">
            <th:block th:if="${userPagingResultDTO.buttonBlockDTO.previousBlock}">
                <button id="previous" class="pagingButton" th:data-name="${userPagingResultDTO.buttonBlockDTO.previousBlockPageNumber}"><</button>
            </th:block>
            <th:block th:each="i : ${#numbers.sequence(userPagingResultDTO.buttonBlockDTO.currentBlockFirstNumber, userPagingResultDTO.buttonBlockDTO.currentBlockLastNumber)}">
                <button class="pagingButton" th:data-name="${i}" th:text="${i}"></button>
            </th:block>
            <th:block th:if="${userPagingResultDTO.buttonBlockDTO.nextBlock}">
                <button id="next" class="pagingButton" th:data-name="${userPagingResultDTO.buttonBlockDTO.nextBlockPageNumber}">></button>
            </th:block>
        </div>

    </div>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/js/utility.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@easepick/datetime@1.2.1/dist/index.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@easepick/core@1.2.1/dist/index.umd.min.js"></script>
<script th:inline="javascript">

    /**
     *  DOM이 완전히 로드되고 파싱 완료된 시점에 이벤트를 단다.
     */
    document.addEventListener('DOMContentLoaded', function() {
        console.log('DOM 준비 완료!');

        let regDates = document.getElementsByClassName("regDate");
        for (regDate1 of regDates) {
            let originalRegDate = regDate1.dataset.name;
            console.log("originalRegDate : "+originalRegDate);
            console.log("type originalRegDate : "+ typeof(originalRegDate));

            let completeRegDate = makeLocalDateTimeToString(originalRegDate);
            regDate1.textContent = completeRegDate;
        }

        let descs = document.getElementsByClassName("desc");
        for (desc1 of descs) {
            let descText = desc1.dataset.name;
            console.log("descText : "+descText);
            console.log("type descText : "+typeof(descText));

            let cleanText = makeNullToBlank(descText);
            desc1.textContent = cleanText;
        }

        //동적 생성된 버튼들에게 이벤트 적용하기 위해 이벤트 위임
        let pagingArea = document.getElementById("pagingArea");
        pagingArea.addEventListener('click', function(e) {
            handleButtonsNumber(e);
        });

        //페이지 이동하여 진입시
        makeCurrentButtonBlur(/*[[${pageNumber}]]*/);

        let formatedDate = null;
        let formatedStartDate = null;
        let formatedEndDate = null;

        //easepick 라이브러리 사용
        const picker = new easepick.create({
            element: document.getElementById('regDate'),
            css: [
                'https://cdn.jsdelivr.net/npm/@easepick/core@1.2.1/dist/index.css',
            ],
            zIndex : 5,
            lang: "ko-KR" ,
            //Hide picker on click outside picker element.
            //documentClick : true,
            //autoApply: false => 사용자가 선택 후 직접 ‘Apply’(적용) 버튼을 눌러야 확정됨
            autoApply: false,

        });

        // select => Event is called when selection is submitted.
        picker.on('select', function(date) {
            //date 는 날짜객체
            console.log('Date selected:', date);
            let easePickDate =picker.getDate();

            if (easePickDate) {
                console.log("easePickDate 존재");
                formatedDate = makeEasePickDateToString(easePickDate);
                // formatedStartDate = plusZeroTime(formatedDate);
                // formatedEndDate = plusEndTime(formatedDate);
                console.log('선택된 날짜:', formatedDate);
                // console.log("formatedStartDate : "+formatedStartDate);
                // console.log("formatedEndDate : "+formatedEndDate);
            }
        },{ once: false });

        let regDate = document.getElementById('regDate');
        let calendarIcon = document.getElementById("calendarIcon");
        let searchButton = document.getElementById('searchButton');

        //easepick 외부 클릭시 easepick 외부 숨기기 - documentClick 을 해도 먹히지가 않아서
        //하지만 이렇게하면 <> 달 이동할때 창이 닫혀서 안된다.
        // document.addEventListener('click', function(e) {
        //     //contains()는 JavaScript DOM API에서 어떤 요소가 다른 요소를 포함하고 있는지(자식이거나 자신이거나)를 판단
        //     if(regDate && !regDate.contains(e.target) && !calendarIcon.contains(e.target)  ){
        //         picker.hide();
        //         console.log("getDate : "+picker.getDate());
        //         let easePickDate =picker.getDate();
        //
        //         if (easePickDate) {
        //             console.log("easePickDate 존재");
        //             formatedDate = makeEasePickDateToString(easePickDate);
        //             console.log('선택된 날짜:', formatedDate);
        //         }
        //
        //     }
        // });


        //달력 아이콘 클릭시에도 easepick가 나오도록
        calendarIcon.addEventListener('click', function(e) {
            picker.show();
        });

        searchButton.addEventListener('click', function(e) {
            searchAjax(e, formatedDate);
            //searchAjax(e, formatedStartDate, formatedEndDate);
        });

    });

    /**
     * 페이징 버튼 번호들 처리
     * @param e 이벤트 객체
     */
    function handleButtonsNumber(e) {
        //현재 있는 몇번째 페이지 정보 가져오기
        //직접클릭 e.target
        let clickedNumber = e.target.dataset.name;

        console.log("clickedNumber: "+clickedNumber);
        console.log("클릭된 대상 클래스 이름 : "+e.target.classList);

        //이벤트 위임시 진짜 자식 요소 내부일때만
        if (e.target.matches(".pagingButton")) {
            pagingAjax(clickedNumber);
        }

    }

    /**
     * 페이징 통신 Ajax
     * 페이지 이동없이 누른 버튼 값에 따라 회원정보 페이지 내용 변경
     * @param clickedNumber 사용자가 클릭한 버튼 숫자
     */
    function pagingAjax(clickedNumber) {
        $.ajax({
            url: '/user/userList/ajax?pageNumber=' + clickedNumber,
            method: 'GET',
            success: function (response) {
                console.log("response.content.buttonBlockDTO : " + response.content.buttonBlockDTO);
                console.log("response.content.userDTOList : " + response.content.userDTOList);

                makePagingTable(response.content.userDTOList);
                makePagingButton(response.content.buttonBlockDTO);
                makeCurrentButtonBlur(clickedNumber);

                /*
                    사용자 입장에서 눈속임용
                    페이지 리로드 없이, 서버 통신없이 url 이름만 바꾸기(뒤로가기 기록 남기지 않음)
                    state : 그 URL과 연결된 상태 데이터
                    title : 페이지 제목
                    url : 주소창에 표시될 URL
                */
                window.history.replaceState(null, "", "/user/userList/ajax?pageNumber=" + clickedNumber);
            },
            error: function (xhr, status, error) {
                console.error('실패:', error);
            }
        });
    }

    // function searchAjax(event, formatedStartDate, formatedEndDate) {
    //     event.preventDefault();
    //
    //     let id = document.getElementById("id").value;
    //     let name = document.getElementById("name").value;
    //     let level = document.getElementById("level").value;
    //     let desc = document.getElementById("desc").value;
    //
    //     //만약 input에 사용자가 option에 있는 값대신 임의로 입력할 수 있다.
    //     let dataList = document.getElementById("levelList");
    //     let options = dataList.querySelectorAll("option");
    //     let inputValid = false;
    //
    //     for (option of options) {
    //         if (option.value === level) {
    //             inputValid = true;
    //             break;
    //         }
    //     }
    //
    //     if (inputValid === false) {
    //         level = null;
    //     }
    //
    //     console.log("id: "+id);
    //     console.log("name : "+name);
    //     console.log("level: "+level);
    //     console.log("desc: "+desc);
    //     console.log("reg_date: "+formatedStartDate);
    //
    //     //만약 사용자가 입력을 안했으면 null로 바꾸기
    //     //이미 위에서 level과 formatedDate는 null처리가 되어있다.
    //     id = makeBlankToNull(id);
    //     name = makeBlankToNull(name);
    //     desc = makeBlankToNull(desc);
    //
    //     // % 를 붙여준다.
    //     // id = makeFieldPercentageString(id);
    //     // name = makeFieldPercentageString(name);
    //     // desc = makeFieldPercentageString(desc);
    //
    //     const searchData = {
    //         id: id,
    //         name: name,
    //         level: level,
    //         desc: desc,
    //         reg_date : formatedStartDate,
    //         reg_date_end : formatedEndDate
    //     };
    //
    //     fetch("/user/search/userList", {
    //         method: "POST",
    //         headers: {"Content-Type": "application/json"},
    //         body: JSON.stringify(searchData)
    //     }) .then(async response => {
    //         /*
    //             그냥 ok로 하고 body 객체 안에서 flag 검사해서 아이디,비번 오류 메시지 출력
    //             응답(response) 본문을 JSON으로 파싱해서 Promise로 반환
    //          */
    //         if (response.ok) {
    //             const loginAnswer  = await response.json();
    //             //makeHtml(loginAnswer);
    //         } else {
    //             const errorMessage = await response.json();
    //             console.log("errorMessage : "+errorMessage);
    //
    //         }
    //     }).catch(error => {
    //         console.log("error : "+error);
    //     })
    //
    // }

    function searchAjax(event, formatedDate) {
        event.preventDefault();

        let id = document.getElementById("id").value;
        let name = document.getElementById("name").value;
        let level = document.getElementById("level").value;
        let desc = document.getElementById("desc").value;
        let pageNumber = 1;

        //만약 input에 사용자가 option에 있는 값대신 임의로 입력할 수 있다.
        let dataList = document.getElementById("levelList");
        let options = dataList.querySelectorAll("option");
        let inputValid = false;

        for (option of options) {
            if (option.value === level) {
                inputValid = true;
                break;
            }
        }

        if (inputValid === false) {
            level = null;
        }

        console.log("id: "+id);
        console.log("name : "+name);
        console.log("level: "+level);
        console.log("desc: "+desc);
        console.log("reg_date: "+formatedDate);

        //만약 사용자가 입력을 안했으면 null로 바꾸기
        //이미 위에서 level과 formatedDate는 null처리가 되어있다.
        id = makeBlankToNull(id);
        name = makeBlankToNull(name);
        desc = makeBlankToNull(desc);

        // % 를 붙여준다.
        // id = makeFieldPercentageString(id);
        // name = makeFieldPercentageString(name);
        // desc = makeFieldPercentageString(desc);

        const searchData = {
            id: id,
            name: name,
            level: level,
            desc: desc,
            regDate : formatedDate,
            //reg_date : formatedDate,
            pageNumber : pageNumber
        };

        fetch("/user/search/userList", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(searchData)
        }) .then(async response => {
            /*
                그냥 ok로 하고 body 객체 안에서 flag 검사해서 아이디,비번 오류 메시지 출력
                응답(response) 본문을 JSON으로 파싱해서 Promise로 반환
             */
            if (response.ok) {
                const loginAnswer  = await response.json();
                //makeHtml(loginAnswer);
            } else {
                const errorMessage = await response.json();
                console.log("errorMessage : "+errorMessage);

            }
        }).catch(error => {
            console.log("error : "+error);
        })

    }

    /**
     * 페이징 테이블 내용 동적 html 생성
     * @param response UserDTO List
     */
    function makePagingTable(response) {
        let userResultsTable = document.getElementById("userResultsTable");
        let responseText = '';

        responseText += `<tr>`;
        responseText += `<th> ID </th>`;
        responseText += `<th> PWD </th>`;
        responseText += `<th> NAME </th>`;
        responseText += `<th> LEVEL </th>`;
        responseText += `<th> DESC </th>`;
        responseText += `<th> REG_DATE </th>`;
        responseText += `</tr>`;

        response.forEach(userDTO => {
            console.log("배열 하나: " + userDTO + '\n');
            console.log('내용 : ' + userDTO.id + '\n');
            console.log('내용: ' + userDTO.pwd + '\n');
            console.log('내용: ' + userDTO.name + '\n');
            console.log('내용: ' + userDTO.level + '\n');
            console.log('내용: ' + userDTO.desc + '\n');

            let descText = makeNullToBlank(userDTO.desc);

            //@JsonProperty("reg_date") 때문에 snake 명으로 바뀐다.
            console.log('내용: ' + userDTO.reg_date + '\n');
            const date = parseDate(userDTO.reg_date);
            let regDateText = makeRegDate(date);

            responseText += `<tr>`;
            responseText += `<td>${userDTO.id}</td>`;
            responseText += `<td>${userDTO.pwd}</td>`;
            responseText += `<td>${userDTO.name}</td>`;
            responseText += `<td>${userDTO.level}</td>`;
            responseText += `<td>${descText}</td>`;
            responseText += `<td>${regDateText}</td>`;
            responseText += `</tr>`;

        });

        userResultsTable.innerHTML = responseText;
    }

    /**
     * 페이징 버튼 내용 동적 html 생성
     * @param response ButtonBlockDTO
     */
    function makePagingButton(response) {
        let pagingArea = document.getElementById("pagingArea");
        let responseText = '';

        if (response.previousBlock) {
            responseText += `<button id="previous" class="pagingButton" data-name="${response.previousBlockPageNumber}"><</button>`;
        }
        for (let i = response.currentBlockFirstNumber; i <= response.currentBlockLastNumber; i++) {
            responseText += `<button class="pagingButton" data-name="${i}">${i}</button>`;
        }
        if (response.nextBlock) {
            responseText += `<button id="next" class="pagingButton" data-name="${response.nextBlockPageNumber}">></button>`;
        }

        pagingArea.innerHTML = responseText;

    }

    /**
     * 현재 페이지인 버튼은 흐리게 조정
     * @param clickedNumber 사용자가 클릭한 버튼 숫자
     */
    function makeCurrentButtonBlur(clickedNumber) {
        let clickedButton = document.querySelector(`[data-name="${clickedNumber}"]`);

        /*
        clickedButton.style.backgroundColor = "darksalmon";
        clickedButton.style.border = "1px solid darksalmon";
        */

        let buttons = document.querySelectorAll("button");
        buttons.forEach(button => {
           button.classList.remove('buttonClicked');
        });
        clickedButton.classList.add('buttonClicked');

    }

</script>
</html>